<div id="portfolio-relationships">
  <div id="relationships-message">Showing Portfolio Assets</div>
  <div id="relationships-list">
      {{#unless content.isLoaded}}
          Loading assets for portfolio {{ portfolioName }}...
      {{/unless}}
      {{#each relationship in controller}}
          {{#linkTo 'relationship.edit' relationship}}
              {{control 'relationship' relationship}}
          {{/linkTo}}
      {{/each}}
  </div>
{{ outlet }}
</div>
