<div class="form-horizontal">
  <form id="asset-upload">
	<legend>Upload Asset to Portfolio</legend>
    <div class="control-group">
   		<label class="control-label">Asset Name</label>
   		<div class="controls">
			<input type="text" name="name" />
		</div>
	</div>
	<div class="control-group">
   		<label class="control-label">Description</label>
   		<div class="controls">
			<input type="text" name="description" />
		</div>
	</div>
    <div class="control-group">
   		<label class="control-label">File</label>
   		<div class="controls">
        	<input type="file" name="file" />
        </div>
    </div>
	<input type="hidden" name="portfolio_id" value="{{unbound controller.portfolio}}" />
    <div class="control-group button-group-edit">
		<button type="submit" class="btn btn-success"> Upload </button>
        {{#view Vilio.CancelButton }} Cancel {{/view}}
	</div>
  </form>
</div>
