<div id="portfolio-relationships">
  <div id="relationships-message">Showing Portfolio Assets</div>
  <div id="relationships-list">
      {{#unless content.isLoaded}}
          Loading...
      {{/unless}}
      {{#each relationship in controller}}
          {{#link-to 'relationship.edit' relationship}}
              {{ render 'relationship' relationship}}
          {{/link-to}}
      {{/each}}
  </div>
{{ outlet }}
</div>
