<div id="relationship-show">
	<div id="relationship-header">
		<button {{ action removeFromPortfolio content }} 
            class="btn btn-danger relationship-remove"> 
            Remove 
        </button>
		<a id="relationship-close" href="#" {{ action "deselect" }}>close</a>
	</div>
	<div id="relationship-asset">
		{{ render "assetEdit" content.asset }}
	</div>
</div>
