<div id="asset-list">
    <h3>All Assets</h3>
    {{#unless content.isLoaded}}
        Loading...
    {{/unless}}
    {{#each asset in content}}
        {{#link-to 'asset.modalEdit' asset}}
            {{render 'asset' asset}}
        {{/link-to}}
    {{/each}}
	{{ outlet }}
</div>
