<section id='luxin'>
	<nav>
		{{ view Luxin.TopNav }}
	</nav>
	<header id='app-header'>
		<div id='login-info'>
			<ul class="nav nav-pills">			
			</ul>
		</div>
	</header>
	<div id='MbAppContainer'>
		{{ outlet }}
	</div>
	<footer></footer>
</section>