<section id='vilio'>
	<nav>
		{{ view Vilio.TopNav }}
	</nav>
	<header id='app-header'>
		<div id='login-info'>
			<ul class="nav nav-pills">			
			</ul>
		</div>
	</header>
	<div id='VilioAppContainer'>
		{{ outlet }}
	</div>
	<footer></footer>
</section>