// Place all the styles related to the v1/portfolios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.isDeleted a {
  color:red;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell; 
  min-width: 300px;
}

div#portfolio-list {
  padding-top: 10px;
  vertical-align: top;
}

.select2-portfolio {
  min-width: 210px;
}

.select2-container .select2-choice, .select2-drop {
  text-shadow: none;
}

h2.portfolio-header {
  float: left;
  display: inline;
}

div#portfolio-options {
  float: left;
  height:  100%;
  padding: 12px 0 0 12px;
  
  a.portfolio-header {
    padding-right: 10px;
  }
}