// Place all the styles related to the v1/portfolios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.isDeleted a {
  color:red;
}

div#portfoliosMaster {
  display: table-row;
  vertical-align: middle;
  width: 100%;
}

div#portfolioList,
div#portfolioHeader {
  display: table-cell; 
}
