// Place all the styles related to the v1/portfolios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#create-port-link {
  display: inline-block;
  padding: 12px 10px 0px 10px;
  vertical-align: top;
}

#portfolios-index {
  display: inline-block;
  padding: 8px 10px 0px 10px;
  vertical-align: top;
}

#portfolio {
  display: inline-block;
  padding: 4px 20px 0px 20px;
  min-width: 700px;
  min-height: 400px;
}

#portfolio-list,
#portfolios {
  display: inline-block;
}

#portfolio-relationships {
  display: block;
}

.isDeleted a {
  color:red;
}

div#portfolio-list {
  padding-right: 10px;
  padding-top: 10px;
  vertical-align: top;
}

.select2-portfolio {
  min-width: 210px;
}

.select2-container .select2-choice, .select2-drop {
  text-shadow: none;
}

h2.portfolio-header {
  float: left;
  display: inline;
}

#portfolio-header {
  display: block;
}

#portfolio-details {
  clear: both;
}

#portfolio-options {
  float: left;
  height:  100%;
  padding: 12px 0 0 12px;
  
  a.portfolio-header {
    padding-right: 10px;
  }
}