// Place all the styles related to the v1/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$darkest: #0B0A10;
$darker: #272729;
$base: #4B4A50;
$grey: #535257;
$lightgrey: #A8A6B0;
$orange: #D9690C;
$dullyellow: #E8AF5E;
$yellow: #E0FB22;
$red: #9C2C04;

html, body { 
  margin: 0; 
  padding: 0; 
  height: 100%; 
  vertical-align: middle; 
  font-family: 'geneva', 'Helvetica Neue',Arial,sans-serif;
  background-image: image-url('classy_fabric.png');
}

#floater  {
  float:left; 
  height:50%; 
  margin-bottom:-120px;
}

div.flash {
  color: $dullyellow;
  background-color: $orange;
  border: 1px solid $dullyellow;
  border-radius: 5px 5px 5px 5px;
  padding: 5px;
  margin-bottom: 10px;
}

#signin-container {
    clear:both; 

    position:relative;
    -moz-transform: scale(0.5, 0.5);
    -moz-transition: all 0.4s cubic-bezier(0, 0.35, .5, 1.3) 0s;
    -webkit-transition: all 0.4s cubic-bezier(0, 0.35, .5, 1.3) 0s;
    background: #333;
    background: -moz-linear-gradient(0% 0 -90deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.95)) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.95))) repeat scroll 0 0 transparent;
    //background: -o-linear-gradient(0% 0 -90deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.95)) repeat scroll 0 0 transparent;
    border: 2px solid #999999;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 5px 5px 10px 10px #000000;
    min-height: 200px;
    opacity: 0;
    padding: 20px;
    margin-right: auto;
    margin-left:auto;
    text-align: left;
    width: 300px;
    z-index: 1000;

    h3 {
      font-size: 18px;
      color: $grey;
      margin-top: 0px;
      margin-bottom: 20px;
      border-color: -moz-use-text-color -moz-use-text-color $grey;
      border-style: none none solid;
      border-width: 0 0 1px 0;
    }

    input[type="text"], input[type="password"] {
        display: block;
        margin-top: 5px;
        margin-bottom: 15px;
        width: 250px;
        height: 30px;
        -moz-transition: all 0.1s ease-in-out 0s;
        //background: -moz-linear-gradient(0% 0 -90deg, #F1EEEE, #FFFFFF) repeat scroll 0 0 transparent;
        //background: -webkit-gradient(linear, left top, left bottom, from(#F1EEEE), to(#FFFFFF)) repeat scroll 0 0 transparent;
        background: none repeat scroll 0 0 #181818;
        border-color: #0D0E0E #0D0E0E #333436;
        border-radius: 5px 5px 5px 5px;
        border-style: solid;
        border-width: 1px;
        box-shadow: 0 5px 7px black inset;
        border: 1px solid $grey;
        //box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
        color: #EEEEEE;
        font-size: 16px;
        outline: medium none;
        padding: 2px;
    }
    input[type="text"]:focus, input[type="password"]:focus, {
        //background: -moz-linear-gradient(0% 0 -90deg, #EBF7FA, #FFFFFF) repeat scroll 0 0 transparent;
        box-shadow: 0 5px 7px $darkest inset;
        background: none repeat scroll 0 0 $grey;
    }
    input[type="checkbox"] {
        float: left;
        margin-right: 10px;
    }
    .input label {
        color: $lightgrey;
        display: block;
        font-size: 14px;
        padding-bottom: 5px;
        padding-top: 15px;
    }
    .input {
        border-bottom: 0 none;
        padding-bottom: 0;
        width: 300px;
    }
    label {
        color: $lightgrey;
        text-shadow: 0 1px 2px #000000;
    }
    input#remember {
        float: left;
        margin-right: 7px;
        margin-top: 16px;
    }
    input[type="submit"] {
        float: right;
        margin-right: 0;
        margin-top: 12px;
    }
    #sign-in-button {
        float: left;
        width: 50px;
    }
    div.clear {
      clear: both;
    }
}

#signin-container.show {
    -moz-transform: scale(1, 1);
    opacity: 1;
}