<div id="metadata-template-definitions">
  <div>
    <div class="section-header">
      <span class="section-title">Metadata Templates Definitions</span>
      <div class="inline-link"> / {{#link-to "templates.new"}}create{{/link-to}}</div>
    </div>
  </div>
  <div id="metadata-templates-list" class="left-nav">
    {{#unless templatesExist}}
      <div>No templates defined</div>
    {{/unless}}
    <ul class="nav nav-list"> 
    {{#each template in controller}}
      {{#unless template.isNew}}
        {{#unless template.isError}}
          <li>{{#link-to "template.show" template}}{{template.name}}{{/link-to}}</li>
        {{/unless}}
      {{/unless}}
    {{/each}}
    </ul>
  </div>
  <div class="with-left-nav">
  {{ outlet "main" }}
  </div>
</div>
