<div id="metadata-field-definitions">
  <div>
    <div class="section-header">
      <span class="section-title">Metadadata Field Definitions</span>
      <div class="inline-link"> / {{#linkTo fields.new}}Create{{/linkTo}}</div>
    </div>
  </div>
  <div id="metadata-fields-list" class="left-nav">
    {{#unless fieldsExist}}
      <div>No fields defined</div>
    {{/unless}}
    <ul class="nav nav-list"> 
    {{#each field in controller}}
      {{#unless field.isNew}}
        <li>{{#linkTo "field.show" field}}{{field.name}}{{/linkTo}}</li>
      {{/unless}}
    {{/each}}
    </ul>
  </div>
  <div class="with-left-nav">
  {{ outlet "main" }}
  </div>
</div>
