<div id="metadata-field-definitions">
  <div>
    <div class="section-header">
      <span class="section-title">metadadata values list definitions</span>
      <div class="inline-link"> / {{#linkto metadata_lists.new}}create{{/linkto}}</div>
    </div>
  </div>
  <div id="metadata-lists-list" class="left-nav">
    <ul class="nav nav-list"> 
    {{#each list in controller}}
      {{#unless list.isnew}}
        <li>{{#linkto "metadata_list.show" list}}{{list.name}}{{/linkto}}</li>
      {{/unless}}
    {{/each}}
    </ul>
  </div>
  <div class="with-left-nav">
  {{ outlet "main" }}
  </div>
</div>
