<div id="metadata-field-definitions">
  <div>
    <div class="section-header">
      <span class="section-title">Metadadata Values List Definitions</span>
      <div class="inline-link"> / {{#link-to "metadata_lists.new"}}create{{/link-to}}</div>
    </div>
  </div>
  <div id="metadata-lists-list" class="left-nav">
    {{#unless listsExist}}
      <div>No lists defined</div>
    {{/unless}}
    <ul class="nav nav-list"> 
    {{#each list in controller}}
      {{#unless list.isNew}}
        <li>{{#link-to "metadata_list.show" list}}{{list.name}}{{/link-to}}</li>
      {{/unless}}
    {{/each}}
    </ul>
  </div>
  <div class="with-left-nav">
    {{ outlet "main" }}
  </div>
</div>
