<div>
	{{#with controller.content as portfolio}}
		<h2 class="portfolio-header">{{name}} Portfolio</h2>
		<div id="portfolio-options">
			{{#link-to "portfolio.edit" portfolio class="portfolio-header"}}edit{{/link-to}}
			/
			{{#link-to "relationships.new" class="portfolio-header"}}add{{/link-to}}
		</div>
	{{/with}}
    {{outlet}}
</div>
