<div id="portfolios">
	<div id="portfolio-header">
		<div id="portfolio-list">
			{{view Vilio.PortfolioSelect2
		       contentBinding="controller.savedSortedContent"
		       optionValuePath="content.id"
		       optionLabelPath="content.name"
		       selectionBinding="controller.selectedPortfolio" 
		       prompt="Please select a Portfolio"
		    }}
		</div>
		<div id="create-port-link">{{#linkTo portfolios.new}}Create{{/linkTo}}</div>
		<div id="portfolio-metadata">
			{{ outlet master }}
		</div>
	</div>
	<div id="portfolio-details">
		{{ outlet detail }}
	</div>
</div>
