<div>
	{{#with controller.content as portfolio}}
		<h2 class="portfolio-header">{{name}} Portfolio</h2>
		<div id="portfolio-options">
			{{#linkTo portfolio.edit portfolio class="portfolio-header"}}edit{{/linkTo}}
			/
			{{#linkTo relationships.new class="portfolio-header"}}add{{/linkTo}}
		</div>
	{{/with}}
    {{outlet}}
</div>
