{{ debug controller.content }}
<div><span>Showing Portfolio Assets (Relationships)</div>
<div id="asset-list">
	{{#each content}}
		<div class="asset">
			{{#with asset}}
				{{ name }}
				{{unbound file_path }}
				<img src="{{ unbound file_path }}" />
			{{/with}}
		</div>
	{{/each}}
</div>