<div id='vilio-top-nav'>
    <div class="navbar navbar-fixed-top">
	    <div class="navbar-inner">
		    <div class="container">
			    <li class="brand">
				    <a href='/'>Vilio</a>
			    </li>
			 	<ul class="nav">
			 	   <li class="active">
			 		   {{#linkTo "portfolios.index"}}Portfolios{{/linkTo}}
				    </li>
			 	   <li>
			 		   {{#linkTo "assets.index"}}Assets{{/linkTo}}
				    </li>
				    <li class="divider-vertical"></li>
				    <li class="dropdown">
						<a class="dropdown-toggle"
							data-toggle="dropdown"
							href="#"> Admin <b class="caret"></b> </a>
						<ul class="dropdown-menu">
							<li>
								{{#linkTo "fields.index"}}Metadata Fields{{/linkTo}}
							</li>
                            <li>
								{{#linkTo "metadata_lists.index"}}Metadata Values Lists{{/linkTo}}
							</li>
						</ul>
					</li>
                 </ul>
				 <ul class="nav pull-right">
				    <li class="divider-vertical"></li>
				    <li class="dropdown">
						<a class="dropdown-toggle"
							data-toggle="dropdown"
							href="#"> Boma, Adrian <b class="caret"></b> </a>
							<ul class="dropdown-menu">
								<li>
									<a href='/logout'>Logout</a>
								</li>
							</ul>
					</li>
			    </ul>
    		</div>
   		</div>
   	</div>		
</div>
