<div id='portfoliosMaster'>
	<div id='portfolioList'>
		{{view Luxin.Select2
	       contentBinding="content"
	       optionValuePath="content.id"
	       optionLabelPath="content.name"
	       selectionBinding="controller.selectedPortfolio" 
	       placeholderText="Please select a Portfolio"
	       prompt=" "}}

		<a {{ action createPortfolio href=true }}>Create</a>
	</div>
</div>