<div id='portfoliosMaster'>
	<div id='portfolioList'>
		{{view Luxin.ChosenSelect viewName="portfolioSelect" contentBinding="arrangedContent" 
		  action="showPortfolio" target="Luxin.router" }}
		<a {{ action createPortfolio href=true }}>Create</a>
	</div>
</div>