<div id='portfoliosMaster'>
	<div id='portfolioList'>
		{{view Luxin.PortfolioSelect2
	       contentBinding="controller.arrangedContent"
	       optionValuePath="content.id"
	       optionLabelPath="content.name"
	       selectionBinding="Luxin.portfoliosShowController.selectedPortfolio" 
	       placeholderText="Please select a Portfolio"
	       prompt=" "}}

	</div>
</div>