<div class='row'>
	<div id='portfolio-list' class='cell'>
		{{view Luxin.PortfolioSelect2
	       contentBinding="controller.arrangedContent"
	       optionValuePath="content.id"
	       optionLabelPath="content.name"
	       selectionBinding="controller.selectedPortfolio" 
	       placeholderText="Please select a Portfolio"
	       prompt=" "}}
	</div>
	{{ outlet master }}
</div>
<div class='row>
	{{ outlet detail }}
</div>