{{#with controller.content as portfolio}}
	<div class='cell'>
		<h2 class="portfolio-header">{{name}} Portfolio</h2>
		<div id="portfolio-options">
			<a class="portfolio-header" {{ action edit portfolio href=true }}>edit</a>
			/
			<a class="portfolio-header" {{ action add portfolio href=true }}>add</a>
		</div>
	</div>
	<div class='row'>
		<span>Showing assets in {{name}} Portfolio</span>
	</div>
{{/with}}