	<nav id='shepherd-top-nav'>
		{{ render 'topNav' }}
	</nav>
	<div id='shepherd-main'>
		{{ outlet }}
	</div>
	<footer></footer>
{{ view Shepherd.MessageView 
      controllerBinding="controllers.message"
      id="message-container"}}
