<section id='shepherd'>
	<nav>
		{{ render 'topNav' }}
	</nav>
	<div id='shepherd-main'>
		{{ outlet }}
	</div>
	<footer></footer>
</section>
{{ view Shepherd.MessageView 
      controllerBinding="controllers.message"
      id="message-container"}}
