<section id='vilio'>
	<nav>
		{{ view Vilio.TopNav }}
	</nav>
	<div id='vilio-main'>
		{{ outlet }}
	</div>
	<footer></footer>
</section>
{{ view Vilio.MessageView 
      controllerBinding="controllers.message"
      id="message-container"}}
