#asset-list {}

#asset-list .ember-view {
  display: inline-block;
}

#asset-upload {
  margin-top: 30px;
}

.asset-actions{
  clear: both;
  width: 100%;
  button {
    clear: both;
    display: inline;
  }
}

.asset-details {
  min-height: 500px;
  width: 900px;
}

.asset-details-header {
}

.asset-details-image {
  float: left;
  height: 400px;
  margin: 30px 0px 30px 0px;
  width: 400px;

  img {
    max-height: 400px;
    max-width: 400px;
  }
}

.asset-details-metadata {
  float:right;
  padding: 15px;
  width: 300px;
  vertical-align: top;

  label {
    width: 100px;
    display: inline-block;
  }

  input[type="text"] {
    width: 150px;
    display: inline-block;
  }
}

.asset-metadatum-value {
  display: inline-block;
  width: 150px;
}

.asset-name {
  text-align: center;
  padding: 10px 0px 10px 0px;
}

.asset-small {
  cursor: pointer;
  float: left;
  height: 160px;
  margin: 10px;
  text-align: center;
  width: 140px;
}

.asset-metadatum {
  padding: 5px 15px 5px 15px;
  box-shadow: 2px 2px 2px #A1A1A1;
  margin: 5px;
  padding: 5px 15px;
}
