#relationship-header {
  border-bottom: 1px solid;
  padding-bottom: 10px;
}

#relationship-close {
  float: right;
}

#relationship-asset {
  margin-top: 20px;
  float: left;
}

#relationships-list {
  border-top: 1px solid;
  padding-top: 30px;
  padding-bottom: 30px;
}

#relationship-list .ember-view {
  display: inline-block;
}

#relationships-message {
  margin-bottom: 5px;
  padding-left: 310px;
}