// Place all the styles related to the v1/application controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// First import journal variables
@import "bootswatch/slate/variables";

@import "bootstrap";

// And finally bootswatch style itself
@import "bootswatch/slate/bootswatch";

#vilio {
  background: #272B30 url("classy_fabric.png") repeat scroll 20% 0;
  height: 100%;
  padding-top: 40px;
  position: absolute;
  width: 100%;
}

#app-header {
  width: 100%;
  height: 30px;
  
  #login-info {
    float: right;
    vertical-align: center;
  }
}
  
//label, legend {
//  color: $lightgrey;
//}

#vilio-main {
  margin: 40px;
  min-width: 1000px;
}

div.well {
    min-height: 300px;  
    border-radius: 6px;
}

#VilioLeftNav {
  width: 270px;
  float: left;  
}

#VilioMain {
  margin-top: 20px;
  min-height: 500px;
}

#loading {
  position: fixed;
  height: 100%;
  width: 100%;
}

.inline-heading {
  margin-bottom: 10px;
  h1, h2, h3, h4, h5, h6 {
    display: inline;
    vertical-align: middle;
  }
}
  
.control-label {
  font-weight: bold;  
}  
  
div.form-horizontal {
  width: 700px;
  
  button {
    text-align: right;
    margin-left: 10px;
  }
  
  .button-group {
    text-align: right;
    margin-right: 320px;
  }
  
  .data-label {
    padding-top: 5px;
    margin-left: 160px;
    text-align: left;
  }
}

.row {
  display: table-row;
}

.cell {
  display: table-cell; 
}

.inline {
  display: inline;
}

.chzn-container {
  text-shadow: none;
}


.overlay {
  background: #FFF;
  height: 100%;
  left: 0;
  opacity: 0.1;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  vertical-align: middle;
  z-index: 9999;
}

.modal-dialog {
    clear:both; 

    position:relative;
    background: #333;
    background: -moz-linear-gradient(0% 0 -90deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.95)) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.95))) repeat scroll 0 0 transparent;
    //background: -o-linear-gradient(0% 0 -90deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.95)) repeat scroll 0 0 transparent;
    border: 2px solid #999999;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 5px 5px 10px 10px #000000;
    min-height: 200px;
    opacity: 1;
    padding: 20px;
    margin-right: auto;
    margin-left:auto;
    text-align: center;
    vertical-align: middle;
    width: 300px;
    z-index: 11111;
}

.floater {
    float: left;
    height: 50%;
    margin-bottom: -120px;
}

.dialog-message {
  position: absolute;
  top: 50%;
}