// Place all the styles related to the v1/application controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// First import journal variables
@import "bootswatch/slate/variables";

@import "bootstrap";

// And finally bootswatch style itself
@import "bootswatch/slate/bootswatch";

// custom font from http://www.dafont.com/streetvertising-public.font
@font-face {
  font-family: 'Streetvertising';
  src: font-url('/assets/Streetvertising%20Medium%20public.ttf') format('truetype');
}

html, body
{
    font-family: 'Streetvertising';
	height: 100%;
    font-weight: normal;
    font-style: normal;
}

legend, .page-header {
  border-bottom: 1px solid #A4A4A4;
  width: 500px;
}

#app-header
{
	#login-info
	{
		float: right;
		vertical-align: center;
	}
}
#loading
{
	height: 100%;
	position: fixed;
	width: 100%;
}
#message
{
	position: relative;
}
#message-container
{
	background-color: #CCCCCC;
	border: 1px solid #8F8F8F;
	border-radius: 3px 3px 0 0;
	bottom: 0;
	clear: both;
	color: #0E90D2;
	left: auto;
	line-height: 30px;
	margin-left: 800px;
	margin-top: -70px;
	min-width: 100px;
	padding-left: 10px;
	padding-right: 10px;
	position: absolute;
	right: 100px;
	text-align: center;
	z-index: 100;
}
#vilio
{
	background: #272B30 url("classy_fabric.png") repeat scroll 20% 0;
	height: auto;
	min-height: 100%;
	padding-top: 40px;
	position: absolute;
	width: 100%;
}
#VilioLeftNav
{
	float: left;
	width: 270px;
}
#vilio-main
{
	margin: 40px;
	min-width: 1000px;
}
#VilioMain
{
	margin-top: 20px;
	min-height: 500px;
}
.cell
{
	display: table-cell;
}
.chzn-container
{
	text-shadow: none;
}
.control-label
{
	font-weight: bold;
}
.dialog-loading
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	text-align: center;
	vertical-align: middle;
	width: 300px;
}
.dialog-loading, 
.dialog-modal
{
	background: #333;
	background: -moz-linear-gradient(0% 0 -90deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.95)) repeat scroll 0 0 transparent;
	background: -o-linear-gradient(0% 0 -90deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.95)) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.95))) repeat scroll 0 0 transparent;
	border: 2px solid #999999;
	border-radius: 15px 15px 15px 15px;
	box-shadow: 15px 15px 15px #000000;
	clear: both;
	min-height: 200px;
	opacity: 1;
	padding: 20px;
	position: absolute;
	z-index: 11111;
}
.dialog-message
{
	position: absolute;
	top: 50%;
}
.dialog-modal
{
	background: #000000;
	left: 80px;
	top: 80px;
}
.error
{
	color: red;
}
.floater
{
	float: left;
	height: 50%;
	margin-bottom: -120px;
}
.form-display-property-group
{
	clear: both;
}
.form-title
{
	font-size: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
}
.inline
{
	display: inline;
}
.inline-block
{
	display: inline-block;
}
.inline-heading
{
	h1, h2, h3, h4, h5, h6
	{
		display: inline;
		vertical-align: middle;
	}
}
.inline-link
{
	display: inline-block;
	padding: 12px 10px 0px 10px;
}
.left-nav
{
	display: inline-block;
	padding-bottom: 20px;
	padding-right: 20px;
	vertical-align: top;
    width: 200px;
}
.message-hide
{
	height: 0px;
	moz-transition: all 0.5s linear;
	transition: all 0.5s linear;
	visibility: hidden;
}
.message-show
{
	height: 30px;
	moz-transition: all 0.5s linear;
	transition: all 0.5s linear;
}
.modal-close
{
	float: right;
}
.modal-header
{
	border-bottom: 1px solid;
	min-height: 20px;
	padding-bottom: 10px;
}
.overlay
{
	background: #FFF;
	height: 100%;
	left: 0;
	opacity: 0.1;
	position: fixed;
	text-align: center;
	top: 0;
	vertical-align: middle;
	width: 100%;
	z-index: 9999;
}
.row
{
	display: table-row;
}
.section-header
{
	border-bottom: 1px solid #FFFFFF;
	margin-bottom: 20px;
	padding-bottom: 10px;
}
.section-title
{
	font-size: 24px;
	line-height: 28px;
}

.vilio-checkbox {
	width: 28px;
	height: 28px;
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
	margin: 20px auto;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;

	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	position: relative;
}

.vilio-checkbox input[type="checkbox"] {
    visibility: hidden;
}

.vilio-checkbox div {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	left: 4px;
	top: 4px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

	background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
	background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
	background: -o-linear-gradient(top, #222 0%, #45484d 100%);
	background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
	background: linear-gradient(top, #222 0%, #45484d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.vilio-checkbox div:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	background: #00bf00;

	background: -webkit-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: -moz-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: -o-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: -ms-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: linear-gradient(top, #00bf00 0%, #009400 100%);

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	top: 2px;
	left: 2px;

	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
}

.vilio-checkbox div:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.vilio-checkbox input[type=checkbox]:checked + div:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}
.vilio-container
{
	height: auto;
	min-height: 100%;
}
.vilio-top-nav
{
	width: 100%;
}
.with-left-nav
{
	display: inline-block;
	vertical-align: top;
}

div.error
{
	font-size: 16px;
	height: 42px;
	line-height: 22px;
	padding: 10px;
	vertical-align: center;
}
div.form-horizontal
{
	width: 700px;

    .button-group-edit {
        background-color: #AFAFAF;
        border-radius: 5px 5px 5px 5px;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
        clear: both;
        margin-top: 30px;
        padding: 15px;
        text-align: right;
    }
	.button-group-show
	{
        border-top: 1px solid;
        clear: both;
		margin-right: 200px;
        margin-top: 50px;
        padding-top: 20px;
		text-align: right;
	}
	.controls
	{
		display: inline;
		margin-left: 30px;
	}
	.data-label
	{
		margin-left: 160px;
		padding-top: 5px;
		text-align: left;
	}
	button
	{
		margin-left: 10px;
		text-align: right;
	}
}
div.well
{
	border-radius: 6px;
	min-height: 300px;
}
input.metadata-value-input {
  display: block;
  margin-left: 170px;
  margin-top: 10px;
}
label.error
{
	display: inline;
	margin-left: 30px;
}
